<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592786331564-4jambr6tnk0ait4ja4ih0lemtatlel9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592786331564-4jambr6tnk0ait4ja4ih0lemtatlel9v</string>
	<key>API_KEY</key>
	<string>AIzaSyCz5HoZPOjARXpiNWlDyKjgYQ5hiZR9Lvg</string>
	<key>GCM_SENDER_ID</key>
	<string>592786331564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kidscancode.CornholeScorer</string>
	<key>PROJECT_ID</key>
	<string>the-cornhole-scorer</string>
	<key>STORAGE_BUCKET</key>
	<string>the-cornhole-scorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592786331564:ios:c61b906c85270f4fff8c09</string>
	<key>DATABASE_URL</key>
	<string>https://the-cornhole-scorer.firebaseio.com</string>
</dict>
</plist>